<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">文件管理</h4>
                </div>
                <div class="row">
                    <div class="col-md-12 portlets">
                        <!-- Your awesome content goes here -->
                        <div class="m-b-30">
                            <form action="#" class="dropzone" id="dropzone">
                                <div class="fallback">
                                    <input name="file" type="file" multiple="multiple"/>
                                </div>
                                <div class="dz-message">
                                    将文件拖至此处或点击上传.
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 attach">
                    <th>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="alert alert-warning">
                                    目前还没有一个附件呢，你可以上传试试!
                                </div>
                            </div>
                        </div>
                    </th>
                    <th>
                        <th>
                            <div class="col-md-2 text-center m-t-10">
                                <a href="#" target="_blank">
                                    <img class="attach-img" src="/admin/images/attach.png"/>
                                </a>
                                <div class="clearfix m-t-10">
                <span class="attach-text" data-toggle="tooltip" data-placement="top"></span>
                                </div>
                                <div class="clearfix">
                                    <button  type="button"
                                            class="btn btn-warning btn-sm waves-effect waves-light m-t-5 copy">
                                        <i class="fa fa-copy"></i> <span>复制</span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-danger btn-sm waves-effect waves-light m-t-5">
                                        <i class="fa fa-trash-o"></i> <span>删除</span>
                                    </button>
                                </div>
                            </div>
                        </th>
                        <div></div>
                    </th>
                </div>
            </div>
        </div>
    </div>
</div>