<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">分类/标签管理</h4>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-color panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">分类列表</h1>
                        </div>
                        <div class="panel-body">
                            <th>
                                <div class="btn-group m-b-10">
                                    <th>
                                        <button type="button">
                                            <th/>
                                            <th/>
                                        </button>
                                    </th>
                                    <th>
                                        <button type="button"
                                                class="btn dropdown-toggle waves-effect waves-light"
                                                data-toggle="dropdown" aria-expanded="false">
                                            <th/>
                                            <th/>
                                            <span
                                                    class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="javascript:void(0)"
                                                   class="edit-category">修改</a>
                                            </li>
                                            <li><a href="javascript:void(0)"
                                                   class="del-category">删除</a></li>
                                        </ul>
                                    </th>
                                </div>
                            </th>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel  panel-pink">
                        <div class="panel-heading">
                            <h1 class="panel-title">标签列表</h1>
                        </div>
                        <div class="panel-body">
                            <th>
                                <div class="btn-group m-b-10">
                                    <button type="button"
                                            data-toggle="dropdown" aria-expanded="false">
                                        <span
                                                class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="javascript:void(0)"
                                               class="del-category">删除</a></li>
                                    </ul>
                                </div>
                            </th>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form id="cform" class="form-inline" role="form">
                                <input type="hidden" id="mid"/>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="cname" placeholder="请输入分类名称"/>
                                </div>
                                <button id="save-category-btn" type="button"
                                        class="btn btn-success waves-effect waves-light m-l-10">保存分类
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>