<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>wan & Trip</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" href="../../admin/images/favicon.png"/>
    <link href="../../common/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../common/css/font-awesome.css" rel="stylesheet"/>
    <link href="../../admin/css/style.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../common/css/sweetalert2.min.css" rel="stylesheet"/>
    <link href="../../admin/css/index.css" rel="stylesheet" type="text/css"/>
    <link href="../../common/plugin/tagsinput/jquery.tagsinput.css" rel="stylesheet"/>
    <link href="../../common/select3/select2-bootstrap.css" rel="stylesheet"/>
    <link href="../../common/plugin/toggles/toggles.css" rel="stylesheet"/>
    <link href="../../common/plugin/md/css/style.css" rel="stylesheet"/>
    <link href="//cdn.bootcss.com/multi-select/0.9.12/css/multi-select.css" rel="stylesheet"/>
    <link href="//cdn.bootcss.com/select2/3.4.8/select2.min.css" rel="stylesheet"/>
    <link href="//cdn.bootcss.com/multi-select/0.9.12/css/multi-select.css" rel="stylesheet"/>

</head>
<body class="fixed-left">

<div id="wrapper">
    <app-header v-on:menuclick="changemenu"></app-header>
    <component :is="currentView" v-on:reloadarticle="changemenu"></component>
    <app-footer></app-footer>
</div>
</body>
<script src="../../admin/js/adminUtil.js"></script>
<script src="http://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
<script src="../../common/js/sweetalert2.js"></script>
<script src="../../common/js/vue.js"></script>
<script src="../../common/js/bootstrap.js"></script>
<script src="../../common/js/bootstrap-paginator.js"></script>
<script src="../../common/plugin/tagsinput/jquery.tagsinput.min.js"></script>
<script src="../../common/plugin/jquery-multi-select/jquery.quicksearch.js"></script>
<script src="../../common/plugin/md/js/jquery.scrollto.js"></script>
<script src="../../common/plugin/md/js/pagedown.js"></script>
<script src="../../common/plugin/md/js/pagedown-extra.js"></script>
<script src="../../common/plugin/md/js/diff.js"></script>
<script src="../../common/plugin/md/js/md.js"></script>
<script src="//cdn.bootcss.com/select2/3.4.8/select2.min.js"></script>
<script src="//cdn.bootcss.com/jquery-toggles/2.0.4/toggles.min.js"></script>
<script src="//cdn.bootcss.com/multi-select/0.9.12/js/jquery.multi-select.min.js"></script>
<script src="//cdn.bootcss.com/jquery-validate/1.15.1/jquery.validate.min.js"></script>
<script src="//cdn.bootcss.com/jquery-validate/1.15.1/localization/messages_zh.min.js"></script>
<script src="../../admin/js/header.js"></script>
<script src="../../admin/js/home.js"></script>
<script src="../../admin/js/article.js"></script>
<script src="../../admin/js/publish.js"></script>
<script src="../../admin/js/comment.js"></script>
<script src="../../admin/js/category.js"></script>
<script src="../../admin/js/attach.js"></script>
<script src="../../admin/js/links.js"></script>
<script src="../../admin/js/setting.js"></script>
<script src="../../admin/js/footer.js"></script>
<script src="../../admin/js/index.js"></script>
</html>