<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>wan & Trip</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" href="../../admin/images/favicon.png"/>
    <link href="../../common/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../common/css/font-awesome.css" rel="stylesheet"/>
    <link href="../../admin/css/style.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../common/css/sweetalert2.min.css" rel="stylesheet"/>


    <script src="../../common/js/jquery-3.2.1.js"></script>
    <script src="../../common/js/sweetalert2.js"></script>
    <script src="../../common/js/vue.js"></script>
    <script src="../../common/js/bootstrap.js"></script>

</head>
<body class="fixed-left">

<div id="wrapper">
    <app-header v-on:menuclick="changemenu"></app-header>
</div>
</body>
<script src="../../admin/js/header.js"></script>
<script src="../../admin/js/index.js"></script>
</html>