<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>wan & Trip</title>
    <link href="../../common/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../common/css/font-awesome.css" rel="stylesheet"/>
    <link href="../../admin/css/login.css" rel="stylesheet" type="text/css"/>
    <script src="../../common/js/jquery-3.2.1.js"></script>
    <script src="../../common/js/bootstrap.js"></script>
    <script src="../../common/js/vue.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <form class="form-horizontal form-bg" id="login-form">
                    <span class="heading">用户登录</span>
                    <div class="form-group">
                        <input type="email" class="form-control" id="inputEmail" placeholder="用户名或邮件" v-model="email"/>
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="form-group help">
                        <input type="password" class="form-control" id="inputPassword" placeholder="密  码" v-model="password"/>
                        <i class="fa fa-lock"></i>
                        <a href="#" class="fa fa-question-circle"></a>
                    </div>
                    <div class="form-group">
                        <div class="main-checkbox">
                            <input type="checkbox" id="checkbox1" name="check" v-model="remember" v-on:click="checked(remember)">
                            <label for="checkbox1"></label>
                        </div>
                        <span class="text">Remember me</span>
                        <button type="button" class="btn btn-default" v-on:click="submit">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="../../admin/js/login.js"></script>
</html>